name: Deploy
on:
  workflow_dispatch:
  pull_request_target:
    branches: '**'
    types: [closed]


jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
       node-version: 'latest'
    - run: npm install --save

    - name: Publish
      uses: cloudflare/wrangler-action@v3
      with:
       apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
       command: deploy
       preCommands: |
        wrangler --version
        # wrangler secret:bulk ./example.secrets.json
       postCommands: |
        wrangler secret list
    env:
     CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
